<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.passthedoodle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.main.passthedoodle.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.main.passthedoodle.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.main.passthedoodle.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.main.passthedoodle.MainActivity" />
        </activity>
        
        <activity
            android:name="com.main.passthedoodle.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.main.passthedoodle.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.main.passthedoodle.MainActivity" />
        </activity>
        
        <activity
            android:name="com.main.passthedoodle.DrawingActivity"
            android:label="@string/title_activity_drawing"
            android:parentActivityName="com.main.passthedoodle.MainActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.main.passthedoodle.MainActivity" />
        </activity>
        <activity
            android:name="com.main.passthedoodle.TextActivity"
            android:label="@string/title_activity_text"
            android:parentActivityName="com.main.passthedoodle.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.main.passthedoodle.MainActivity" />
        </activity>
        <activity
            android:name="com.main.passthedoodle.ViewCompletedActivity"
            android:label="@string/title_activity_vc"
            android:parentActivityName="com.main.passthedoodle.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.main.passthedoodle.MainActivity" />
        </activity>

    </application>

</manifest>
